# Build directory
build/*
  
# Temp nibs and swap files
*~.nib
*.swp
  
# OS X folder attributes
.DS_Store
  
# User-specific files
*.mode1
!default.mode1
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspective
!default.perspectivev
*.perspectivev3
!default.perspectivev3
*.pbxuser
!default.pbxuser
*.xcworkspace
*.xccheckout
xcuserdata
profile
*.moved-aside
DerivedData
Snapshots
*.hmap
*.ipa

# CocoaPods
Pods